/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.filter{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.35);
}
/*------------------LOGIN PAGE/*------------------*/

.nav-transparent{
	background: none;
	box-shadow: none;
}
#logo-container{
	font-size: 1.2em;
}

a.button-collapse.top-nav i {
    font-size: 32px;
}

.footer{
	background: none ;
}

.footer-menu{
	text-align: left;
}

.footer-copyright{
	text-align: right;
}

.footer .footer-menu  ul li a{
	text-decoration: none;
	color: white;
	margin-left: 1.5em;
}
.footer .footer-copyright  .text-copyright{
	color: white;
}

.container-login, .footer-copyright{
	position: relative;
}

/*login form*/
#card-login{
	margin-top: 6em;
	margin-bottom: 7em;
}

.card-header{
	background: #2196F3;
    border-radius: 3px;
    margin-top: -55px;
    margin-left: 10px;
    margin-right: 10px;
}
.card-header .card-title{
	text-align: center;
	color: white;
	font-size: 16px;
	padding: 15px 0px 15px 0px;
}

.card-content{
	margin-top: 2em;
}

@media (max-width: 600px) {
	.footer-menu{
		text-align: center;
	}

	.footer-copyright{
		text-align: center;
	}
}

/*------------------END LOGIN PAGE/*------------------*/



/*DASHBOARD*/

.nav-dashboard{
	background: none;
	box-shadow: none;
}

.nav-dashboard ul li a, .nav-dashboard a, .nav-dashboard li{
	color: #616161;
}
.container-dashboard{
	background: red;
}

.btn-more{
	margin-left: 2em;
}

#logo-dashboard{
	font-size: 1.2em;
	font-weight: lighter;
}

/*SideNav*/
.side-nav{
	width: 240px;
}


@media (max-width: 600px) {
	.btn-more{
	margin-left: 0em;
	}
}
