/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
	background: url("../assets/img/login.jpg") no-repeat bottom left;
}

/*LOGIN PAGE*/

.container-login{
	height: 480px;
}
.nav-transparent{
	background: none;
	box-shadow: none;
}
#logo-container{
	font-size: 1.2em;
}

a.button-collapse.top-nav i {
    font-size: 32px;
}

.footer{
	background: none ;
	margin-bottom: 1em;
}

.footer-menu{
	text-align: left;
}

.footer-copyright{
	text-align: right;
}

.footer .footer-menu  ul li a{
	text-decoration: none;
	color: white;
	margin-left: 1.5em;
}
.footer .footer-copyright  .text-copyright{
	color: white;
}



@media (max-width: 600px) {
	.footer-menu{
		text-align: center;
	}

	.footer-copyright{
		text-align: center;
	}
}
