/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


/*Page Login CSS*/
#login__header{
	background-color: #2196f3;
	height: 15em;
}
#login__content{
	background-color: #e7ebf0;

}
#login__form{
	margin-top: -5em;
	padding: 0em 2em 0em 2em;
	margin-bottom: 6em;
}


/*Formulario de Login*/
.login__form__title{
	font-size: 15px;
	margin-left: 1em;
}

.login__form__description{
	font-size: 13px;
	margin-left: 1em;
	color: grey;
}


header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
       
       
